body
{
  background-image: url(pony.jpg);
  background-size: cover;
}
#canvas
{
    position: absolute;
    top: 50px;
    left: 355px;
    right: 275x;
    height: 550px;
    width: 800px;
    border: 5px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    background-color:lightgoldenrodyellow;
    background-image:url(pony2.jpg);
    background-size: cover;
}
#canvas1
{
  position: absolute;
    top: 50px;
    left: 25px;
    right: 25px;
    height: 500px;
    width: 300px;
    border: 5px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    background-color:lightgoldenrodyellow;
    background-image:url(first.png);
    background-size: 700px;
}
#canvas2{
    position: absolute;
    top: -5px;
    left: -5px;
    right: 0px;
    height: 500px;
    width: 300px;
    border: 5px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    background-color:lightgoldenrodyellow;
    background-size: 530px;
}
#gametitle
{
    position: absolute;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
    top: -30px;
    left:140px;
    font-family: funhouse;
    font-size: 80px;
    letter-spacing: 12px;
    color:blue;
}
#A-Z
{
  margin:270px auto;
  max-width:700px;
}
#A-Z li
{
  float:left;
  margin: 0 5px 2px 0;
  list-style:none;
  width:35px;
  height:35px;
  padding-top:15px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 10px;
  background:black;
  color:white;
  cursor:pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  border-radius: 20px;
}
#alphabet li:hover
{
    background-color: white;
    color: black;
}
#my-word
{
  top: 190px;
  text-align: center;
  left: 190px;
  position: absolute;
  display:block;
}
#my-word li 
{
  font-family: elephant;
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size:30px;
  font-size: 25px;
  letter-spacing: 20px;
  color:white;
  left:-60px;
}
#showAnswer
{
  display: block;
  position: absolute;
  top: 215px;
  font-size: 25px;
  font-family: elephant;
  color:white;
  letter-spacing: 20px;
  left: 245px;
}
#categoryName
{
  position: absolute;
  top: 130px;
  left: 270px;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
  color: pink;
  letter-spacing: 30px;
  animation: text 15s 10;
 
}
@keyframes text
{
    30%
    {
        color: red;
    }
    50%
    {
        letter-spacing: 5px;
    }

}

#lives
{ 
 
  top: 300px;
  left: 29px;
  height: 200px;
  width: 240px;
  border-radius: 50px;
}

 

  #exit
  {
color:black;
border: solid 1px black;
cursor:pointer;
font-size:18px;
padding-left: 30px;
padding-right: 30px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 480px;
left: 35px;
font-family: elephant;
transition: all 1s ease-in-out;
}
#exit:hover
{
    background-color: wheat;
    color: black;
    text-decoration: underline;
}

#reset
{
color:black;
border: solid 1px black;
cursor:pointer;
font-size:18px;
padding-left: 30px;
padding-right: 30px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 480px;
left: 600px;
font-family: elephant;
transition: all 1s ease-in-out;
}
#reset:hover
{
    background-color: white;
    color:black;
    text-decoration: underline;
}

#loss
{
  font-size: 50px;
  background-color:black;
  color:whitesmoke;
  position: absolute;
  top: 250px;
  left: 250px;
  padding-top: 50px;
  padding-bottom: 60px;

}
#win
{
  font-size: 50px;
  background-color:black;
  color: red;
  position: absolute;
  top: 280px;
  left: 0px;
  padding-left: 280px;
  padding-right: 190px;
}
