body
{
    background-image: url(pony.jpg);
    background-size: cover;
}
#canvas
{
    position: absolute;
    top: 4  0px;
    left: 80px;
    right: 700px;
    height: 550px;
    width: 1100px;
    border: 5px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    background-color:white;
    background-image:url(pony.jpg);
    background-size: cover;
}
#gametitle
{
    position: absolute;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 5px;
    top: -100px;
    left:70px;
    font-family: funhouse;
    font-size: 150px;
    letter-spacing: 20px;
    color: pink;
    animation: text 10s 5;
}
@keyframes text
{
    10%
    {
        color: red;
    }
    40%
    {
        letter-spacing: 15px;
    }

}
#playgame
{
color:black;
border: solid 1px white;
cursor:pointer;
font-size:30px; 
padding: 10px;
padding-left: 90px;
padding-right: 90px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 230px;
left: 420px;
font-family: elephant;
transition: all 1s ease-in-out;

}
#playgame:hover
{
    background-color: black;
    color: pink;
    text-decoration: underline;
}
#exit
{
color:black;
border: solid 1px white;
cursor:pointer;
font-size:30px; 
padding: 10px;
padding-left: 90px;
padding-right: 90px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 300px;
left: 420px;
font-family: elephant;
transition: all 1s ease-in-out;

}
#exit:hover
{
    background-color: black;
    color:white;
    text-decoration: underline;
}
